.card {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(250, 5, 5, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: rgb(97, 97, 146);
    padding-right: 10px;
  }
  